.carousel-container {
  position: relative;
  display: flex;

  img {
    display: none;
  }

  &__img-active {
    display: block !important;
    width: 100%;
    height: 100vh;
    padding-top: 65px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    object-fit: cover;
  }

  &__animation-fade {
    animation-name: anim-fade;
    animation-duration: 1.5s;
  }
}

@keyframes anim-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-dots {
  position: absolute;
  z-index: 10300;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;

  &__dots {
    cursor: pointer;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    transition: opacity 0.6s ease;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__active-dot {
    opacity: 1;
  }
}

.carousel-controls {
  position: absolute;
  margin-top: 65px;
  z-index: 10200;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 0;
  font-size: 3em;
  background: 0 0;
  fa-icon {
    cursor: pointer;
    color: #17458f;

    opacity: 0.5;
    transition: all 0.15s ease;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }
}

.carousel-info {
  position: absolute;
  z-index: 10100;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em 3em 2em;
  color: #fff;
  background-color: rgba($color: black, $alpha: 0.5);
  border-radius: 32px 32px 0 0;
  text-align: center;

  h2 {
    font-weight: 700;
  }

  p {
    font-size: 1.5em;
    font-weight: 300;
  }
}

@media (width < 763px) {
  .carousel-container {
    &__img-active {
      height: inherit;
      //height: 100vh;
    }
  }
  .carousel-info {
    padding: 1em 0 2em 0;
    h2 {
      font-size: 1em;
    }
    p {
      display: none;
    }
  }
}
