<div class="our-causes">
  <div class="our-causes__title">
    <h1>Nuestras Causas</h1>
  </div>
  <div class="our-causes__info container">
    <h2>
      Nuestro Club Rotario está dedicado a las causas para construir relaciones
      internacionales, mejorar vidas y crear un mejor mundo apoyando nuestros
      esfuerzos de paz y erradicar la polio para siempre.
    </h2>
  </div>
  <div class="our-causes__causes container">
    <div class="row d-flex justify-content-center">
      <div
        class="our-causes__causes__item col-12 col-sm-6 col-md-6 col-lg-4 d-flex flex-column align-items-center"
      >
        <div>
          <img src="assets/causes/PromoverLaPaz.jpeg" alt="" />
          <h4>Promover la paz</h4>
          <p>
            Rotary fomenta el diálogo para promover la comprensión internacional
            entre los pueblos y culturas. Ayudamos en la formación de líderes
            adultos y jóvenes para que sean actores en la prevención y mediación
            de conflictos y brinden apoyo a refugiados que huyen de situaciones
            de peligro.
          </p>
        </div>
      </div>
      <div
        class="our-causes__causes__item col-12 col-sm-6 col-md-6 col-lg-4 d-flex flex-column align-items-center"
      >
        <div>
          <img src="assets/causes/LuchandoContraEnfermedad.jpeg" alt="" />
          <h4>Prevención y tratamiento de enfermedades</h4>
          <p>
            Sensibilizamos y equipamos a las comunidades para contener la
            propagación de enfermedades mortales como la polio, el VIH/SIDA y el
            paludismo. Nuestra meta es mejorar y ampliar el acceso a la atención
            de la salud, de bajo costo o gratuita, en las regiones en
            desarrollo.
          </p>
        </div>
      </div>
      <div
        class="our-causes__causes__item col-12 col-sm-6 col-md-6 col-lg-4 d-flex flex-column align-items-center"
      >
        <div>
          <img src="assets/causes/ApoyandoEducacion.jpg" alt="" />
          <h4>Promoción de la educación</h4>
          <p>
            El analfabetismo afecta a más de 775 millones de personas mayores de
            15 años. Nuestra meta es alentar a las comunidades para que apoyen
            programas de alfabetización y educación básica, reduzcan la
            disparidad de género en la educación y aumenten la tase de
            alfabetismo entre los adultos.
          </p>
        </div>
      </div>
      <div
        class="our-causes__causes__item col-12 col-sm-6 col-md-6 col-lg-4 d-flex flex-column align-items-center"
      >
        <div>
          <img src="assets/causes/ApoyandoEconomiasLocales.jpg" alt="" />
          <h4>Desarrollo de las economías locales</h4>
          <p>
            Nuestros proyectos de servicio están diseñados para fomentar el
            desarrollo integral y económico de las comunidades y crear
            oportunidades de trabajo productivo y remunerado para personas de
            todas las edades. Trabajamos también con emprendedores y líderes
            locales y en particular ayudamos a la mujer en comunidades
            empobrecidas.
          </p>
        </div>
      </div>
      <div
        class="our-causes__causes__item col-12 col-sm-6 col-md-6 col-lg-4 d-flex flex-column align-items-center"
      >
        <div>
          <img src="assets/causes/ProtegiendoElAmbiente.jpg" alt="" />
          <h4>Protección del medioambiente</h4>
          <p>
            Los socios de Rotary abordan los temas ambientales como siempre lo
            hacen: proponiendo proyectos, empleando sus conexiones para cambiar
            políticas y planificando para el futuro.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
