<div class="projects">
  <div class="projects__title">
    <h1>Nuestros Proyectos</h1>
  </div>
  <div class="projects__info container">
    <h2>
      Mediante nuestros programas formamos a los líderes de mañana, otorgamos
      fondos para hacer del mundo un lugar mejor y promovemos la causa de la
      paz. Todos pueden participar en los programas no solo los socios de los
      clubes. Infórmate cómo puedes marcar la diferencia en tu comunidad con
      Rotary.
    </h2>

    <div class="row mt-5">
      <div class="projects__info__item">
        <div class="projects__info__item__text">
          <h3>Ejido Brownsville</h3>
          <p>
            El Rotary Club Ciudad Mante celebra con orgullo dos hitos
            importantes en el ejido "Nueva Apolonia" de la colonia Brownsville.
            La reciente construcción de un aula representa un compromiso
            continuo con la educación, ofreciendo a los estudiantes un espacio
            propicio para el aprendizaje y el crecimiento. Además, la festividad
            del Día de Reyes no solo trajo alegría a los niños, sino que también
            marcó la inauguración del nuevo salón de clases. Estos logros son
            posibles gracias al esfuerzo y apoyo de nuestros socios,
            colaboradores y la cálida comunidad de Nueva Apolonia. Juntos,
            estamos construyendo sueños y dejando una huella perdurable en el
            corazón de nuestra comunidad.
          </p>
        </div>
        <app-carousel
          class="projects__info__item__img-carousel"
          [imagesArray]="projectsImgArrayBrownsville"
          [objectFitCover]="false"
          [componentHeight]="'80'"
          [carouselInfo]="false"
        ></app-carousel>
      </div>

      <div class="projects__info__item">
        <div class="projects__info__item__text">
          <h3>Los niños de El Mante primero</h3>
          <p>
            Durante el período 2009-2010, el Rotary Club en Mante, Tamaulipas,
            llevó a cabo iniciativas que dejaron una huella positiva y duradera
            en la comunidad. Estos esfuerzos abarcaron desde capacitaciones para
            mamás de niños con déficit de atención, hasta la entrega de 65 pares
            de lentes para mejorar la salud visual. Además, el club contribuyó
            al desarrollo infantil mediante la entrega de túneles recreativos y
            balancines en áreas de recreo locales. Estas acciones reflejan el
            compromiso del Rotary Club con el bienestar integral de la
            comunidad, marcando un período de transformación significativa en
            Mante. Con agradecimiento a socios, colaboradores y la comunidad,
            continuamos nuestro compromiso con el servicio y la creación de un
            impacto positivo en las vidas de quienes servimos.
          </p>
        </div>
        <app-carousel
          class="projects__info__item__img-carousel"
          [imagesArray]="projectsImgArrayKidsMante"
          [objectFitCover]="false"
          [componentHeight]="'80'"
          [carouselInfo]="false"
        ></app-carousel>
      </div>

      <div class="projects__info__item">
        <div class="projects__info__item__text">
          <h3>Equipo dental portatil</h3>
          <p>
            En un esfuerzo por llevar la atención dental a nuevos horizontes, el
            Rotary Club se enorgullece de presentar su innovador proyecto: un
            equipo dental portátil diseñado para atender a personas en cualquier
            lugar, sin importar las barreras geográficas. Este equipo
            revolucionario permite al personal dental del Rotary Club brindar
            servicios de atención bucal de alta calidad en comunidades remotas,
            áreas rurales o en situaciones de emergencia. Equipado con
            tecnología de vanguardia, este equipo portátil incluye todo lo
            necesario para realizar procedimientos dentales básicos, desde
            chequeos regulares hasta tratamientos preventivos. La movilidad de
            este equipo dental no solo facilita el acceso a la atención bucal,
            sino que también destaca el compromiso del Rotary Club con la salud
            y el bienestar de las comunidades a las que sirve. Con esta
            iniciativa, buscamos llevar sonrisas y cuidado dental a aquellos que
            de otra manera podrían enfrentar dificultades para acceder a
            servicios dentales. Agradecemos a nuestros socios, colaboradores y a
            la comunidad por su apoyo continuo, permitiéndonos innovar y marcar
            la diferencia en la salud dental de aquellos que necesitan atención,
            sin importar dónde se encuentren. Juntos, estamos construyendo
            sonrisas sin fronteras y asegurando que el acceso a la atención
            dental sea un derecho universal.
          </p>
        </div>
        <app-carousel
          class="projects__info__item__img-carousel"
          [imagesArray]="projectsImgArrayDentalEquipment"
          [objectFitCover]="false"
          [componentHeight]="'80'"
          [carouselInfo]="false"
        ></app-carousel>
      </div>

      <div class="projects__info__item">
        <div class="projects__info__item__text">
          <h3>Todos con computadora</h3>
          <p>
            En un esfuerzo por empoderar y equipar a la próxima generación, el
            Rotary Club se complace en anunciar la distribución de 170
            computadoras a estudiantes destacados. Este emocionante proyecto
            busca no solo reconocer el esfuerzo académico, sino también
            proporcionar a estos jóvenes las herramientas necesarias para
            alcanzar su máximo potencial en un mundo cada vez más digital. La
            entrega de estas computadoras no solo simboliza el compromiso del
            Rotary Club con la educación, sino que también representa una
            inversión en el futuro de la comunidad. Estas herramientas
            tecnológicas abrirán nuevas oportunidades de aprendizaje y
            exploración para los estudiantes, preparándolos para los desafíos
            del siglo XXI. Agradecemos a nuestros socios, colaboradores y a
            todos los que hicieron posible este proyecto, contribuyendo a
            construir un camino hacia el éxito para estos jóvenes brillantes.
            Juntos, estamos creando un impacto positivo en la educación y
            construyendo un futuro donde cada niño tenga acceso a las
            herramientas necesarias para alcanzar sus sueños.
          </p>
        </div>
        <app-carousel
          class="projects__info__item__img-carousel"
          [imagesArray]="projectsImgArrayEveryoneWithComputer"
          [objectFitCover]="false"
          [componentHeight]="'80'"
          [carouselInfo]="false"
        ></app-carousel>
      </div>

      <div class="projects__info__item">
        <div class="projects__info__item__text">
          <h3>Visita Gobernador Rotario</h3>
          <p>
            El Rotary Club se llena de orgullo al compartir la memorable visita
            del Gobernador Rotario a nuestra comunidad. Este evento especial no
            solo honra la dedicación y liderazgo del Gobernador en el servicio a
            través de Rotary, sino que también destaca la importancia de la
            colaboración y la inspiración en nuestra misión compartida. Durante
            la visita, tuvimos el privilegio de compartir los logros y proyectos
            significativos que han marcado la diferencia en nuestra comunidad.
            Desde iniciativas educativas hasta esfuerzos humanitarios, la visita
            del Gobernador Rotario fue una oportunidad para mostrar el impacto
            positivo que juntos estamos logrando. Agradecemos al Gobernador
            Rotario por su tiempo, sabiduría y apoyo continuo. Esta visita
            refuerza nuestro compromiso con los valores y objetivos de Rotary,
            recordándonos que, a través de la unidad y el servicio, podemos
            lograr cambios significativos en el mundo que nos rodea. Juntos,
            celebramos la excelencia y miramos hacia un futuro donde el servicio
            continúe siendo la fuerza impulsora de nuestro compromiso con la
            humanidad.
          </p>
        </div>
        <app-carousel
          class="projects__info__item__img-carousel"
          [imagesArray]="projectsImgArrayRotaryGovernor"
          [objectFitCover]="false"
          [componentHeight]="'80'"
          [carouselInfo]="false"
        ></app-carousel>
      </div>

      <div class="projects__info__item">
        <div class="projects__info__item__text">
          <h3>Otros eventos significativos</h3>
          <p>
            El Rotary Club se enorgullece de compartir los momentos destacados
            de un evento multifacético que abarcó inspiración, servicio y
            colaboración. Durante un seminario rotario dedicado a jóvenes, nos
            sumergimos en el tema crucial del liderazgo, guiando a las
            generaciones futuras hacia un camino de influencia positiva. En el
            mismo espíritu de servicio, el Rotary Club entregó nebulizadores,
            reafirmando nuestro compromiso con la salud comunitaria. La
            convivencia de trabajo que siguió permitió a los participantes
            compartir ideas, fortalecer la camaradería y consolidar planes para
            futuras iniciativas. Además, celebramos la excelencia empresarial al
            nombrar al "Empresario del Año". Este reconocimiento destaca a
            aquellos cuyo liderazgo en el ámbito empresarial ha contribuido
            significativamente al desarrollo económico y social de nuestra
            comunidad. Como punto culminante, llevamos a cabo una jornada médica
            que ofreció servicios esenciales a aquellos que más lo necesitan.
            Este evento solidifica nuestro compromiso con el bienestar integral
            de la comunidad y demuestra que el servicio rotario va más allá de
            las palabras, abrazando la acción tangible. Agradecemos a nuestros
            colaboradores, socios y a todos los participantes por hacer de este
            evento una experiencia memorable. Juntos, estamos inspirando
            líderes, fortaleciendo la salud comunitaria y construyendo un futuro
            donde el servicio y la colaboración son los cimientos de nuestra
            comunidad.
          </p>
        </div>
        <app-carousel
          class="projects__info__item__img-carousel"
          [imagesArray]="projectsImgArrayOthers"
          [objectFitCover]="false"
          [componentHeight]="'80'"
          [carouselInfo]="false"
        ></app-carousel>
      </div>
    </div>
  </div>
</div>
