<div class="about-us">
  <div class="about-us__title">
    <h1>Acerca de Nuestro Club</h1>
  </div>
  <div class="about-us__info container">
    <div class="row d-flex align-items-center">
      <div class="about-us__info__title col-12 col-lg-6">
        <p>El Club Rotario Mante fundado el 4 de marzo de 1946 es una asociación civil con la estructura de un
          presidente,
          una mesa directiva y una membresía de socios.</p>
        <p>Realizamos proyectos de desarrollo comunitario, recaudamos fondos y fomentamos relaciones públicas para
          realizar
          más proyectos y beneficiar a la comunidad local e internacional.</p>
        <p>Somos una asociación dedicada, comprensiva y sin fines de lucro.</p>
      </div>
      <div class="about-us__info__img col-12 col-lg-6">
        <img src="assets/about-us/aboutus.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="container text-center mt-5 mb-4">
    <h2>Trabajamos para construir un mejor mundo</h2>
  </div>
  <div class="about-us__cards container">
    <div class="row">
      <div class="about-us__cards__card col-12 col-sm-12 col-md-6">
        <div class="about-us__cards__card__img">
          <img
            src="https://www.rotary.org/sites/default/files/styles/w_700/public/about%20overview%20opp%20creator%20700x700.jpg"
            alt="">
        </div>
        <div class="about-us__cards__card__content">
          <div class="about-us__cards__card__content__title">
            <h4>BRINDAMOS OPORTUNIDADES</h4>
          </div>
          <p>Como socios de Rotary buscamos siempre oportunidades para mejorar las condiciones de vida en nuestras
            comunidades e invertir en las próximas generaciones.</p>
        </div>
      </div>
      <div class="about-us__cards__card col-12 col-sm-12 col-md-6">
        <div class="about-us__cards__card__img">
          <img
            src="https://www.rotary.org/sites/default/files/styles/w_700/public/Overview%20comm%20builder%20700x700.JPG"
            alt="">
        </div>
        <div class="about-us__cards__card__content">
          <div class="about-us__cards__card__content__title" style="background-color: #73216C;">
            <h4>FORTALECEMOS COMUNIDADES</h4>
          </div>
          <p>Colaboramos con los líderes de comunidades que buscan trabajar en proyectos que generen un impacto real y
            duradero en la vida de las personas.</p>
        </div>
      </div>
      <div class="about-us__cards__card col-12 col-sm-12 col-md-6">
        <div class="about-us__cards__card__img">
          <img
            src="https://www.rotary.org/sites/default/files/styles/w_700/public/Overview%20peep%20of%20action%20700x700.jpg"
            alt="">
        </div>
        <div class="about-us__cards__card__content">
          <div class="about-us__cards__card__content__title" style="background-color: #0D92B8;">
            <h4>SOMOS GENTE DE ACCIÓN</h4>
          </div>
          <p>Conectamos a personas comprometidas y con diversas perspectivas para intercambiar ideas, forjar amistades
            duraderas y, sobretodo, tomar acción para cambiar el mundo.</p>
        </div>
      </div>
      <div class="about-us__cards__card col-12 col-sm-12 col-md-6">
        <div class="about-us__cards__card__img">
          <img
            src="https://www.rotary.org/sites/default/files/styles/w_700/public/Overview%20prob%20solvers%20700x700.JPG"
            alt="">
        </div>
        <div class="about-us__cards__card__content">
          <div class="about-us__cards__card__content__title" style="background-color: #029191;">
            <h4>RESOLVEMOS PROBLEMAS</h4>
          </div>
          <p>Con nuestra dedicación personal y experiencia profesional, juntos abordamos los problemas más persistentes
            en nuestras comunidades con soluciones eficaces que promueven la salud, la estabilidad y la prosperidad en
            todo el planeta.</p>
        </div>
      </div>
    </div>
  </div>
</div>